@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

/* Shared style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-btn{
    width: 140px;
    height: 45px;
    background: linear-gradient(45deg, #ff00cc, #00ffff); 
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 25px;
}

/* header style */

.navBar-container{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #412567;
    color: white;
}
#linear-gradient-logo{
    background: linear-gradient(to right, #ffffff, #ff007f, #ff007f, #f8a400);
    -webkit-background-clip: text;
    color: transparent;
}   
#logo{ 
  font-size: 45px; 
}

.header-navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.header-navbar ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}